.cards {
  margin: 0;
  padding: 0;
}

.cards__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 320px;
  height: 209px;
  border-bottom: 1px solid #ebebeb;
}

.cards__item-img-container {
  position: relative;
  display: block;
  width: 136px;
  height: 126px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  outline: 1px solid red;
}

.cards__item-img-container--small::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -2px;
  z-index: -1;
  width: 138px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/chicken-small-mobile@1x.jpg");
  outline: 1px solid rgb(0, 255, 34);
}

.cards__item-img-container--big::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -1px;
  z-index: -1;
  width: 140px;
  height: 130px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/chicken-big-mobile@1x.jpg");
  outline: 1px solid rgb(0, 255, 34);
}

.cards__item-img-container--fish500::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 5px;
  width: 125px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/fish-small-mobile@1x.jpg");
  outline: 1px solid rgb(0, 255, 34);
}

.cards__item-img-container--fish1000::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -1px;
  z-index: -1;
  width: 140px;
  height: 130px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/fish-big-mobile@1x.jpg");
  outline: 1px solid rgb(0, 255, 34);
}

.cards__item-img-container--slim500::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 5px;
  width: 125px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/buckwheat-small-mobile@1x.jpg");
  outline: 1px solid rgb(0, 255, 34);
}

.cards__item-img-container--slim1000::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -1px;
  z-index: -1;
  width: 138px;
  height: 130px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/buckwheat-big-mobile@1x.jpg");
  outline: 1px solid rgb(0, 255, 34);
}

.cards__item-img-container--rice500::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 1px;
  z-index: 1;
  width: 135px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/rice-small-mobile@1x.jpg");
  outline: 1px solid rgb(0, 255, 34);
}

.cards__item-info-container {
  display: block;
  width: 142px;
  height: 126px;
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

.cards__link-item {
  text-decoration: none;
}

.cards__item-name {
  width: 76px;
  height: 41px;
  margin-top: 21px;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
  text-align: left;
  color: #222222;
  outline: 1px solid red;
}

.cards__table {
  width: 142px;
  height: 40px;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;

  text-align: left;
  color: #444444;

  outline: 1px solid red;
}

.cards__table-row {
  margin: 0;
  padding: 0;
}

.cards__cell {
  width: 70px;
  height: 5px;
  margin: 0;
  padding: 0;
  text-align: left;
  outline: 1px solid rgb(47, 0, 255);
}

.cards__cell-right {
  width: 69px;
  height: 5px;
  margin: 0;
  padding: 0;
  text-align: right;
  outline: 1px solid rgb(47, 0, 255);
}

.cards__link {
  width: 280px;
  height: 40px;
  margin: 0;
  margin-left: 20px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;

  background-color: @green;
}

.cards__item-plus {
  display: block;
  position: relative;
  width: 320px;
  height: 209px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.cards__show {
  display: block;
  width: 300px;
  height: 20px;
  margin: 0;
  padding: 0;
  margin-left: 15px;
  margin-top: 79px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  color: #111111;
}

.cards__show--plus::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 143px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-plus-mobile.svg");
}

.cards__more {
  display: block;

  width: 280px;
  height: 10px;
  margin-top: 8px;
  margin-left: 18px;
  padding-top: 1px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
}

.cards__link-plus {
  position: relative;
  display: block;

  width: 280px;
  height: 40px;
  margin: 0;
  margin-left: 20px;
  margin-top: 27px;
  margin-bottom: 20px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;

  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .cards__list {
    display: grid;
    column-gap: 60px;
    row-gap: 140px;
    grid-template-columns: 324px 324px;
    grid-template-rows: 430px 430px 430px 430px;
    margin-left: 31px;
  }

  .cards__item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 324px;
    min-height: 430px;
    background-color: #f2f2f2;
    border: none;
  }

  .cards__item-img-container {
    position: relative;
    display: block;
    width: 250px;
    height: 126px;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    outline: 1px solid red;
  }

  .cards__item-img-container--small::after {
    content: "";
    position: absolute;
    top: -46px;
    left: -22px;
    z-index: 3;
    width: 305px;
    height: 172px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/chicken-small-tablet@1x.png");
    outline: 1px solid rgb(0, 255, 34);
  }

  .cards__item-img-container--big::after {
    content: "";
    position: absolute;
    top: -75px;
    left: -27px;
    z-index: 3;
    width: 305px;
    height: 214px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/chicken-big-tablet@1x.png");
    outline: 1px solid rgb(0, 255, 34);
  }

  .cards__item-img-container--fish500::after {
    content: "";
    position: absolute;
    top: -46px;
    left: -22px;
    z-index: 3;
    width: 305px;
    height: 173px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/fish-small-tablet@1x.png");
    outline: 1px solid rgb(0, 255, 34);
  }

  .cards__item-img-container--fish1000::after {
    content: "";
    position: absolute;
    top: -75px;
    left: -27px;
    z-index: 3;
    width: 305px;
    height: 214px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/fish-big-tablet@1x.png");
    outline: 1px solid rgb(0, 255, 34);
  }

  .cards__item-img-container--slim500::after {
    content: "";
    position: absolute;
    top: -46px;
    left: -22px;
    z-index: 3;
    width: 305px;
    height: 173px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/buckwheat-small-tablet@1x.png");
    outline: 1px solid rgb(0, 255, 34);
  }

  .cards__item-img-container--slim1000::after {
    content: "";
    position: absolute;
    top: -75px;
    left: -27px;
    z-index: 3;
    width: 305px;
    height: 214px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/buckwheat-big-tablet@1x.png");
    outline: 1px solid rgb(0, 255, 34);
  }

  .cards__item-img-container--rice500::after {
    content: "";
    position: absolute;
    top: -46px;
    left: -22px;
    z-index: 3;
    width: 305px;
    height: 173px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/rice-small-tablet@1x.png");
    outline: 1px solid rgb(0, 255, 34);
  }

  .cards__item-info-container {
    width: 324px;
    height: 210px;
    margin: 0;
    padding: 0;
    padding-left: 35px;
    padding-top: 14px;
    padding-right: 35px;
  }

  .cards__item-name {
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 24px;

    text-align: center;
  }

  .cards__table {
    width: 252px;
    font-size: 16px;
    line-height: 16px;

    text-align: left;
  }

  .cards__cell {
    width: 123px;
    height: 30px;
    text-align: left;
    border-bottom: 1px solid #cdcdcd;
  }

  .cards__cell-right {
    width: 126px;
    height: 30px;
    text-align: right;
    border-bottom: 1px solid #cdcdcd;
  }

  .cards__link {
    width: 248px;
    height: 39px;
    margin-left: 39px;
    margin-top: 14px;

    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 39px;
  }

  .cards__item-plus {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 324px;
    min-height: 430px;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
  }

  .cards__show {
    position: relative;
    display: block;

    width: 150px;
    margin: 0;
    padding: 0;
    margin-left: 90px;
    margin-top: 161px;

    font-size: 20px;
    line-height: 22px;
  }

  .cards__show--plus::before {
    content: "";
    position: absolute;
    top: -108px;
    left: 41px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/icon-plus.svg");
  }

  .cards__more {
    width: 168px;
    margin-left: 77px;
    padding-top: 42px;
    padding-bottom: 84px;
    font-size: 16px;
    line-height: 18px;
  }

  .cards__link-plus {
    width: 249px;
    height: 40px;
    margin-top: 22px;
    margin-left: 36px;
    margin-bottom: 18px;

    font-size: 16px;
    line-height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .cards__list {
    display: grid;
    column-gap: 80px;
    row-gap: 143px;
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: 430px 430px;
    margin-left: 110px;
  }

  .cards__item {
    width: 245px;
    height: 431px;
  }

  .cards__item-img-container {
    position: relative;
    display: block;
    width: 245px;
    height: 126px;
    margin: 0;
    padding: 0;
    outline: 1px solid red;
  }

  .cards__item-img-container--small::after {
    content: "";
    position: absolute;
    top: -49px;
    left: -40px;
  }

  .cards__item-img-container--big::after {
    content: "";
    position: absolute;
    top: -77px;
    left: -41px;
    width: 322px;
    height: 210px;
  }

  .cards__item-img-container--fish500::after {
    content: "";
    position: absolute;
    top: -51px;
    left: -40px;
  }

  .cards__item-img-container--fish1000::after {
    content: "";
    position: absolute;
    top: -77px;
    left: -41px;
    width: 313px;
    height: 195px;
  }

  .cards__item-img-container--slim500::after {
    content: "";
    position: absolute;
    top: -46px;
    left: -42px;
  }

  .cards__item-img-container--slim1000::after {
    content: "";
    position: absolute;
    top: -75px;
    left: -45px;
    z-index: 3;
    width: 305px;
    height: 214px;
  }

  .cards__item-img-container--rice500::after {
    content: "";
    position: absolute;
    top: -46px;
    left: -42px;
    z-index: 3;
    width: 305px;
    height: 173px;
  }

  .cards__item-info-container {
    width: 245px;
    height: 210px;
    margin: 0;
    padding: 0;
    padding-left: 36px;
    padding-top: 17px;
    padding-right: 35px;
  }

  .cards__item-name {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 22px;

    text-align: center;
  }

  .cards__table {
    width: 172px;
  }

  .cards__cell {
    width: 83px;
  }

  .cards__cell-right {
    width: 50px;
  }

  .cards__link {
    width: 168px;
    height: 40px;
    margin-left: 39px;
    margin-top: 18px;
  }

  .cards__link:hover {
    background-color: #5eaa2f;
  }

  .cards__link:active {
    background-color: #5eaa2f;

  }
  .cards__link-text:active {
    opacity: 0.3;
  }

  .cards__item-plus {
    width: 245px;
  }

  .cards__show {
    margin-left: 50px;
  }

  .cards__more {
    margin-left: 39px;
  }

  .cards__link-plus {
    width: 169px;
    margin-left: 38px;
    margin-bottom: 18px;
  }

  .cards__link-plus:hover {
    background-color: #ebebeb;
  }

  .cards__link-plus:active {
    background-color: #ebebeb;
  }

  .cards__text-plus:active {
    color: #444444;
    opacity: 0.3;
  }
}
