.copyright {
  width: 280px;
  height: 73px;
}

.copyright__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 287px;
  height: 82px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.copyright__academy {
  display: block;
  width: 160px;
  margin: 0;
  margin-top: 33px;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.copyright__picture {
  width: 41px;
  height: 82px;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  fill: #666666;
}

.copyright__picture:hover {
  fill: #68b738;
}

.copyright__picture:active,
.copyright__picture:focus {
  fill-opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 256px;
    min-width: 150px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    width: 300px;
    min-width: 150px;
  }
}
