.copyright {
  display: block;
  width: 280px;
  height: 73px;
}

.copyright__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  text-decoration: none;
}

.copyright__academy {
  display: block;
  width: 160px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.copyright__picture {
  display: block;
  margin: 0;
  margin-top: 3px;
  margin-right: 1px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 256px;
    min-width: 150px;
  }

  .copyright__link {
    padding: 0;
  }

  .copyright__academy {
    width: 120px;
    height: 20px;
    margin-top: 47px;
    margin-left: 62px;
  }

  .copyright__picture {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-right: 25px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    width: 300px;
    min-width: 150px;
  }

  .copyright__academy {
    width: 130px;
    height: 20px;
    margin-top: 54px;
    margin-left: 28px;
  }

  .copyright__picture {
    margin-top: 55px;
    margin-right: 103px;
  }
}
