.customer {
/*  position: relative;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 320px;
  min-height: 187px;
  margin: 0;
  padding: 0;
  border: none;
}

.customer__title {
  display: block;
  width: 318px;
  margin: 0;
  padding: 0;
  font-size: 14;
  line-height: 18px;
  font-weight: normal;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.customer__wrap-wrap {
  padding-left: 20px;
  padding-right: 18px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
  outline: 1px solid rgb(47, 0, 255);
}

.customer__name {
  width: 280px;
  height: 58px;
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
  border: none;
}

.customer__name-letter {
  width: 54px;
  height: 24px;
  margin: 0;
  margin-right: 11px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
}

.customer__name-holder {
  width: 229px;
  height: 45px;
  margin: 0;
  margin-bottom: 14px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
}

.customer__name-holder::placeholder {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #444444;
}

.customer__name-holder:hover {
  background-color: @white;
}

.customer__name-holder:active,
.customer__name-holder:focus {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
  outline-offset: -4px;
}

.customer__weight {
  width: 280px;
  height: 58px;
  margin: 0;
  padding: 0;
}

.customer__weight-letter {
  width: 75px;
  margin: 0;
  margin-right: 14px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
}

.customer__weight-holder {
  width: 204px;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 17px;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  border: 1px solid #e7e7e7;
}

.customer__weight-holder::placeholder {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #444444;
}

.customer__weight-holder:hover {
  background-color: #e5e5e5;
}

.customer__weight-holder:active,
.customer__weight-holder:focus {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
  outline-offset: -4px;
}

.customer__old {
  width: 280px;
  height: 58px;
  margin: 0;

  margin-bottom: 11px;
  padding: 0;
}

.customer__old-letter {
  width: 75px;
  margin: 0;
  margin-right: 12px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
}

.customer__old-holder {
  width: 171px;
  height: 45px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #e7e7e7;
}

.customer__old-holder::placeholder {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #444444;
}

.customer__old-holder:hover {
  background-color: #e5e5e5;
}

.customer__old-holder:active,
.customer__old-holder:focus {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
  outline-offset: -4px;
}

