.discription {
  position: relative;
  width: 100%;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  border: none;
}

.discription__title--line::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 2px;
  background-color: @green;
}

.discription__title-wrap {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 32px;
  margin: 0;
  padding: 0;
  padding-right: 157px;
  justify-content: center;
  border: none;
}

.discription__title {
  z-index: 10;
  width: 160px;
  height: 32px;
  margin: 0;
  padding: 0;
  padding-left: 17px;
  font-size: 24px;
  line-height: 26px;
  text-align: left;
  background-color: #ffffff;
}

.discription__back {
  position: absolute;
  z-index: 10;
  width: 160px;
  margin-left: -17px;
  padding-left: 17px;
  background-color: white;
}

.discription__text {
  position: relative;
  width: 280px;
  min-height: 150px;
  margin: 0 auto;
  margin-top: 27px;
  padding-left: 12px;
  padding-top: 11px;
  padding-right: 12px;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-transform: none;
  color: #000000;
  border: 1px solid #e7e7e7;
}

.discription__comment::placeholder {
  font-size: 16;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}

.discription__comment {
  width: 260px;
  border: none;
}

@media (min-width: @tablet-width) {
  .discription {
    margin-top: 20px;
  }

  .discription__title--line::before {
    top: 22px;
  }

  .discription__title-wrap {
    margin-top: 7px;
    padding-right: 445px;
  }

  .discription__title {
    width: 260px;
    padding-left: 40px;
    font-size: 36px;
    line-height: 36px;
  }

  .discription__back {
    width: 260px;
    margin-left: -37px;
    padding-left: 37px;
    background-color: white;
  }

  .discription__text {
    width: 629px;
    height: 172px;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 13px;
    padding-left: 16px;
    font-size: 20px;
    line-height: 30px;
  }

  .discription__label {
    color: #000000;
  }

  .discription__comment {
    width: 606px;
    height: 120px;
  }
}

@media (min-width: @desktop-width) {
  .discription {
    margin-top: 30px;
  }

  .discription__title-wrap {
    margin: 0;
    margin-top: 7px;
    padding: 0;
    padding-right: 1043px;
  }

  .discription__back {
    width: 260px;
    margin-left: -37px;
    padding-left: 37px;
    background-color: white;
  }

  .discription__text {
    width: 1220px;
    height: 172px;
    margin: 0 auto;
    padding: 0;
    margin-top: 77px;
    padding-top: 13px;
    padding-left: 16px;
  }

  .discription__label {
    color: #000000;
  }

  .discription__comment {
    width: 1200px;
    height: 120px;
  }
}
