.first {
  position: relative;
  height: 502px;
}

.first__wrap {
  position: relative;

  display: block;
  width: 320px;
  height: 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
}

.first__title {
  position: absolute;
  top: 27px;
  left: 36px;

  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  color: #ffffff;
}

.first__make {
  position: absolute;
  top: 124px;
  left: 60px;

  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.first__picture {
  position: absolute;
  top: 168px;
  left: 20px;
}

.first__toggle {
  position: absolute;
  top: 440px;
  left: 20px;

  display: flex;
  flex-direction: row;
  width: 280px;
  height: 40px;

  text-decoration: none;
  background-color: #68b738;
}

.first__choice {
  width: 192px;
  height: 40px;
  margin-top: 12px;
  margin-left: 44px;

  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
