.first {
  position: relative;
  height: 502px;
  margin: 0 auto;
  padding: 0;
}

.first__wrap {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 305px;
  margin: 0 auto;
  background-image: url("../img/index-background-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 640px auto;
  }
}

.first__title {
  margin-top: 27px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @white;
}

.first__make {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
}

.first__picture {
  margin-top: 16px;
  margin-left: 20px;
}

.first__toggle-wrap {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.first__toggle {
  display: flex;
  flex-direction: row;
  margin-top: 135px;
  margin-left: 20px;
  width: 280px;
  height: 40px;

  text-decoration: none;
  background-color: #68b738;
}

.first__toggle:hover {
  background-color: #5eaa2f;
}

.first__toggle:active,
.first__toggle:focus {
  background-color: #5eaa2f;
}

.first__choice {
  width: 192px;
  height: 40px;
  margin-top: 12px;
  margin-left: 44px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
}

.first__choice:active,
.first__choice:focus {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .first {
    width: 768px;
    min-height: 811px;
  }

  .first__wrap {
    position: relative;
    width: 100%;
    height: 200px;
    background-image: none;
  }

  .first__title {
    width: 500px;
    margin: 0;
    margin-bottom: 21px;
    margin-left: 116px;
    padding: 0;
    font-size: 60px;
    font-weight: 60px;
    line-height: 1;
    text-align: left;
    color: @black;
  }

  .first__make {
    width: 300px;
    height: 20px;
    margin: 0;
    padding: 0;
    margin-top: 22px;
    margin-left: 117px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    color: @black;
  }

  .first__picture {
    margin-top: 19px;
    margin-left: 29px;
  }

  .first__toggle-wrap {
    width: 677px;
    height: 100px;
  }

  .first__toggle {
    position: absolute;
    width: 244px;
    height: 54px;
    margin-top: 31px;
    margin-left: 66px;
  }

  .first__choice {
    width: 244px;
    height: 54px;
    margin: 0;
    padding: 0;
    padding-top: 17px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: @white;
  }
}

@media (min-width: @desktop-width) {
  .first {
    width: 1440px;
    min-height: 592px;
  }

  .first__wrap {
    position: relative;
    width: 1440px;
    height: 230px;
    margin-top: 20px;
  }

  .first__title {
    margin-top: 38px;
    margin-bottom: 11px;
    margin-left: 190px;
  }

  .first__make {
    margin-top: 30px;
    margin-left: 190px;
  }

  .first__toggle-wrap {
    width: 1440px;
    height: 100px;
  }

  .first__toggle {
    margin-left: 190px;
    margin-top: 41px;
  }

  .first__picture {
    display: none;
  }

  .first__wrap--picture::after {
    content: "";
    position: absolute;
    top: -43px;
    left: 557px;
    width: 552px;
    height: 499px;
    background-repeat: no-repeat;
    background-image: url("../img/index-can-desktop@1x.png");
    z-index: 1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-desktop@2x.jpg");
      background-size: 1404px auto;
    }
  }
}
