.map {
  display: block;
  width: auto;
  height: 362px;
  margin: 0;
}

.map__position {
  position: relative;
  width: auto;
  height: 362px;
  margin: 0;
  padding: 0;

  background-color: @white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/bg-map-mobile@1x.png");
}

.map__marker {
  position: absolute;
  top: 139px;
  left: 135px;

  width: 56px;
  height: 52px;
  margin: 0;
  padding: 0;
}
