.more {
  width: 320px;
  min-height: 966px;
  padding-left: 17px;
  padding-right: 17px;
  outline: 1px solid red;
}

.more__title-wrap {
  position: relative;
  display: block;
  width: 280px;
  height: 87px;
  padding: 0;
  padding-top: 8px;
  border-bottom: 1px solid #cdcdcd;
  outline: 1px solid red;
}

.more__title {
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  outline: 1px solid rgb(0, 4, 255);
}

.more__title--line::after {
  content: "";
  position: absolute;
  top: 42px;
  left: 248px;
  width: 53px;
  height: 2px;
  background-color: @green;
}

.more__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.more__card {
  width: 284px;
  min-height: 129px;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 12px;
  border-bottom: 1px solid #cdcdcd;
}

.more__cell-wrap {
  display: grid;
  grid-template-columns: 138px 142px;
  grid-template-rows: 20px 20px;
  margin-bottom: 4px;
}

.more__cell-name {
  width: 138px;
  padding: 0;
  padding-left: 2px;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  outline: 1px solid rgb(21, 255, 0);
}

.more__cell {
  width: 138px;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: left;

  color: #444444;
  outline: 1px solid rgb(0, 26, 255);
}

.more__cell-right {
  width: 142px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: right;
  color: #444444;
  outline: 1px solid rgb(0, 26, 255);
}

.more__link {
  display: block;
  width: 280px;
  height: 40px;
  margin-top: 18px;

  font-size: 16px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;

  background-color: @green;
}

.more__card-all {
  display: block;
  width: 280px;
  height: 364px;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 35px;
  outline: 1px solid red;
}

.more__card-all-wrap {
  position: relative;
  display: block;
  width: 280px;
  height: 289px;
  margin: 0;
  padding: 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/gift-photo-mobile@1x.jpg");

  outline: 1px solid red;
}

.more__gift {
  position: absolute;
  width: 56px;
  height: 58px;
  margin-left: 111px;
  margin-top: 65px;
  fill: #ffffff;
}

.more__invite {
  display: inline-block;
  width: 161px;
  height: 60px;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  margin-top: 188px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @white;
}

@media (min-width: @tablet-width) {
  .more {
    width: 768px;
    min-height: 1063px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .more__title-wrap {
    position: relative;
    display: block;
    width: 708px;
    height: 87px;
    margin-top: 30px;
    margin-left: 37px;
    padding: 0;
    padding-top: 8px;
    border: none;
    outline: 1px solid red;
  }

  .more__title {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    outline: 1px solid rgb(0, 4, 255);
  }

  .more__title--line::before {
    content: "";
    position: absolute;
    top: 61px;
    left: -67px;
    width: 30px;
    height: 2px;
    background-color: @green;
  }

  .more__title--line::after {
    content: "";
    position: absolute;
    top: 61px;
    left: 375px;
    width: 328px;
    height: 2px;
    background-color: @green;
  }

  .more__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 68px;
  }

  .more__card {
    width: 708px;
    min-height: 140px;
    margin: 0;
    padding: 0;
    margin-bottom: -1px;
    padding-top: 13px;
    padding-bottom: 12px;
    border: 1px solid #cdcdcd;
  }

  .more__cell-wrap {
    display: grid;
    grid-template-columns: 200px 199px 139px 94px;
    grid-template-rows: 30px;
    margin: 0;
    margin-left: 38px;
    margin-top: 12px;
  }

  .more__cell-name {
    width: 200px;
    padding: 0;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    outline: 1px solid rgb(21, 255, 0);
  }

  .more__cell {
    width: 139px;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: right;

    color: #444444;
    outline: 1px solid rgb(0, 26, 255);
  }

  .more__cell-right {
    width: 94px;
    padding-right: 3px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: right;
    color: #444444;
    outline: 1px solid rgb(0, 26, 255);
  }

  .more__link {
    display: block;
    width: 632px;
    height: 38px;
    margin-top: 18px;
    margin-left: 38px;

    font-size: 16px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: @white;

    background-color: @green;
  }

  .more__card-all {
    display: block;
    width: 708px;
    height: 345px;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 35px;
    outline: 1px solid red;
  }

  .more__card-all-wrap {
    position: relative;
    display: block;
    width: 708px;
    height: 200px;
    margin: 0;
    padding: 0;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    outline: 1px solid red;
  }

  .more__gift {
    position: absolute;
    width: 56px;
    height: 58px;
    margin-left: 89px;
    margin-top: 65px;
    fill: #ffffff;
  }

  .more__invite {
    display: inline-block;
    z-index: 10;
    width: 161px;
    height: 60px;
    margin: 0;
    padding: 0;
    margin-left: 422px;
    margin-top: 71px;

    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: @white;
  }
}

@media (min-width: @desktop-width) {
  .more {
    width: 1440px;
    min-height: 530px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .more__title-wrap {
    position: relative;
    display: block;
    width: 1000px;
    height: 87px;
    margin-top: 40px;
    margin-left: 79px;
    padding: 0;
    padding-top: 8px;
    border: none;
    outline: 1px solid red;
  }

  .more__title {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    outline: 1px solid rgb(0, 4, 255);
  }

  .more__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .more__list {
    width: 850px;
    margin: 0;
    padding: 0;
    margin-top: 68px;
    list-style: none;
  }

  .more__card {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    min-height: 73px;
    margin: 0;
    padding: 0;
    margin-bottom: -1px;
    padding-top: 13px;
    padding-bottom: 12px;
    border: none;
  }

  .more__card--line::after {
    position: absolute;
    content: "";
    top: 1px;
    left: 80px;
    width: 895px;
    height: 1px;
    background-color: #cdcdcd;
  }

  .more__card--line-bottom::after {
    position: absolute;
    content: "";
    top: 72px;
    left: 80px;
    width: 895px;
    height: 1px;
    background-color: #cdcdcd;
  }

  .more__cell-wrap {
    display: grid;
    grid-template-columns: 210px 150px 210px 84px;
    grid-template-rows: 25px;
    margin: 0;
    margin-left: 38px;
    margin-top: 12px;
    outline: 1px solid #ff0080;
  }

  .more__cell-name {
    width: 220px;
    padding: 0;
    padding-left: 40px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    outline: 1px solid rgb(21, 255, 0);
  }

  .more__cell {
    width: 139px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: left;

    color: #444444;
    outline: 1px solid rgb(0, 26, 255);
  }

  .more__cell-right {
    width: 94px;
    padding-left: 40px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
    color: #444444;
    outline: 1px solid rgb(0, 26, 255);
  }

  .more__link {
    display: block;
    width: 244px;
    height: 40px;
    margin-top: 1px;
    margin-left: 38px;

    font-size: 16px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: @white;

    background-color: @green;
  }

  .more__card-all {
    display: block;
    width: 300px;
    height: 345px;
    margin-left: 205px;
    margin-top: 1px;
    padding: 0;
    padding-top: 69px;
    padding-bottom: 35px;
    outline: 1px solid red;
  }

  .more__card-all-wrap {
    position: relative;
    display: block;
    width: 245px;
    height: 289px;
    margin: 0;
    padding: 0;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    outline: 1px solid red;
  }

  .more__gift {
    position: absolute;
    width: 56px;
    height: 58px;
    margin-left: 95px;
    margin-top: 61px;
    fill: #ffffff;
  }

  .more__invite {
    display: inline-block;
    z-index: 10;
    width: 161px;
    height: 60px;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    margin-top: 187px;

    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: @white;
  }
}
