.more {
  position: relative;
  width: 320px;
  margin: 0 auto;
  min-height: 966px;
}

.more__title-wrap {
  position: relative;
  display: block;
  width: 280px;
  height: 87px;
  margin-left: 17px;
  padding: 0;
  padding-top: 7px;
  border-bottom: 1px solid #cdcdcd;
}

.more__title {
  z-index: 5;
  width: 250px;
  height: 50px;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  background-color: @white;
}

.more__wrap {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.more__list {
  margin: 0;
  padding: 0;
  padding-left: 17px;
  list-style: none;
}

.more__card {
  width: 284px;
  min-height: 129px;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 12px;
  border-bottom: 1px solid #cdcdcd;
}

.more__cell-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.more__cell-name {
  width: 280px;
  margin-top: 2px;
  padding: 0;
  padding-left: 4px;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
}

.more__cell {
  width: 138px;
  margin: 0;
  margin-top: 5px;
  margin-left: 2px;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: #444444;
}

.more__cell-right {
  width: 142px;
  margin-top: 4px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: right;
  color: #444444;
}

.more__link {
  display: block;
  width: 280px;
  height: 40px;
  margin-top: 6px;

  font-size: 16px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;

  background-color: @green;
}

.more__link:hover {
  background-color: #5eaa2f;
}

.more__link:active a {
  background-color: #5eaa2f;
}

.more__link:focus a {
  background-color: #5eaa2f;
}

.more__link-text:active,
.more__link-text:focus {
  opacity: 0.3;
}

.more__card-all {
  position: relative;
  display: block;
  width: 280px;
  height: 289px;
  margin: 0 auto;
  padding: 0;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 35px;
}

.more__card-all--back::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -2;
  width: 280px;
  height: 289px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/gift-photo-mobile@1x.jpg");

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: cover;
  }
}

.more__card-all-wrap {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.more__gift {
  position: absolute;
  width: 56px;
  height: 58px;
  margin-left: 111px;
  margin-top: 25px;
  fill: #ffffff;
}

.more__invite {
  position: absolute;
  display: inline-block;
  width: 161px;
  height: 60px;
  margin: 0;
  padding: 0;
  margin-left: 57px;
  margin-top: 148px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @white;
}

@media (min-width: @tablet-width) {
  .more {
    width: 728px;
    min-height: 1093px;
    padding: 0;
    padding-top: 33px;
  }

  .more__title-wrap {
    display: flex;
    flex-direction: row;
    width: 410px;
    margin-bottom: 65px;
    margin-right: 293px;
    justify-content: left;
    border: none;
  }

  .more__title {
    width: 410px;
    padding-left: 35px;
    font-size: 36px;
    line-height: 36px;
  }

  .more__wrap {
    width: 710px;
    margin: 0 auto;
    padding: 0;
  }

  .more__list {
    margin: 0;
    margin-top: 60px;
    margin-left: 5px;
    padding: 0;
  }

  .more__card {
    width: 708px;
    min-height: 140px;
    margin: 0;
    padding: 0;
    margin-bottom: -1px;
    padding-top: 13px;
    padding-bottom: 12px;
    border: 1px solid #cdcdcd;
  }

  .more__cell-wrap {
    margin: 0;
    margin-left: 38px;
    margin-top: 12px;
  }

  .more__cell-name {
    width: 200px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
  }

  .more__cell {
    width: 338px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 27px;
    text-align: right;
  }

  .more__cell-right {
    width: 96px;
    margin-top: 1px;
    padding-right: 3px;
    font-size: 16px;
    line-height: 27px;
  }

  .more__link {
    width: 632px;
    height: 38px;
    margin-top: 18px;
    margin-left: 38px;
    line-height: 38px;
  }

  .more__card-all {
    width: 608px;
    height: 200px;
    padding: 0;
    margin-top: 70px;
    padding-top: 70px;
    padding-bottom: 35px;
  }

  .more__card-all--back::after {
    left: -45px;
    width: 708px;
    height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .more__card-all-wrap {
    margin: 0;
    padding: 0;
    margin-left: 30px;
  }

  .more__gift {
    margin-left: 15px;
    margin-top: -6px;
  }

  .more__invite {
    z-index: 10;
    width: 161px;
    height: 60px;
    margin: 0;
    padding: 0;
    margin-left: 349px;
    margin-top: 1px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .more {
    width: 1440px;
    min-height: 533px;
    margin-top: 36px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .more__title-wrap {
    display: block;
    margin: 0;
    padding: 0;
    margin-left: 18px;
    width: 10px;
    padding-right: 20px;
  }

  .more__title {
    display: block;
    width: 410px;
    margin: 0;
    padding: 0;
    margin-left: 25px;
    padding-left: 37px;
    font-size: 36px;
    line-height: 56px;
  }

  .more__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1310px;
    height: 380px;
  }

  .more__list {
    width: 980px;
    margin: 0;
    padding: 0;
    margin-top: 40px;
  }

  .more__card {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 897px;
    min-height: 72px;
    margin: 0;
    padding: 0;
    margin-left: 47px;
    padding-top: 11px;
    border: none;
    border-top: 1px solid #cdcdcd;
  }

  .more__card--line-bottom::after {
    position: absolute;
    content: "";
    top: 72px;
    left: 1px;
    width: 895px;
    height: 1px;
    background-color: #cdcdcd;
  }

  .more__cell-wrap {
    justify-content: space-between;
    width: 612px;
    height: 32px;
    margin: 0;
    padding: 0;
    margin-top: 13px;
  }

  .more__cell-name {
    width: 177px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
  }

  .more__cell {
    width: 190px;
    margin: 0;
    padding: 0;
    padding-left: 56px;
    padding-top: 2px;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
  }

  .more__cell-right {
    width: 64px;
    margin: 0;
    padding: 0;
    padding-left: 19px;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
  }

  .more__link {
    width: 244px;
    height: 40px;
    margin: 0;
    padding: 0;
    margin-top: 6px;
    margin-left: 38px;
    line-height: 38px;
  }

  .more__card-all {
    display: block;
    width: 245px;
    height: 289px;
    margin: 0;
    margin-left: 85px;
    margin-top: 40px;
    padding: 0;
    padding-top: 69px;
    padding-bottom: 35px;
  }

  .more__card-all--back::after {
    width: 245px;
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .more__card-all-wrap {
    width: 245px;
    height: 289px;
  }

  .more__gift {
    margin-left: 22px;
    margin-top: -5px;
  }

  .more__invite {
    width: 161px;
    height: 60px;
    margin: 0;
    padding: 0;
    margin-left: -34px;
    margin-top: 117px;
    text-align: center;
    color: @white;
  }
}
