.page-body {
  position: relative;
  min-width: 320px;
  background-color: @white;
}

.page-body__left {
  position: absolute;
  top: 0;
  width: 50%;
  height: 696px;
  background-color: @white;
  z-index: -2;
}

.page-body__right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 696px;
  background-color: @white;
  z-index: -2;
}


@media (min-width: @desktop-width) {
  .page-body {
    position: relative;
  }

  .page-body__left {
    position: absolute;
    top: 0;
    width: 50%;
    height: 696px;
    background-color: @white;
    z-index: -2;
  }

  .page-body__right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 696px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/index-background-desktop@1x.jpg");
    z-index: -2;
  }
}
