.send-toggle {
  width: 320px;
  height: 125px;
  padding-left: 19px;
  padding-top: 17px;
}

.send-toggle__button {
  display: block;
  width: 280px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background-color: @green;
  border: none;
}

.send-toggle__text {
  display: block;
  width: 157px;
  height: 20px;
  margin-left: 64px;
  margin-top: 21px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
