.site-list__item a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.site-list__item-black a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.site-list__item-black-catalog a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.site-list {
  list-style: none;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 444px;
    padding: 0;
    padding-left: 5px;
    list-style: none;
    text-decoration: none;
  }

  .site-list__item a {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
  }

  .site-list__item-black a {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
  }

  .site-list__item-black-catalog a {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
  }

  .site-list__item {
    position: relative;
  }

  .site-list__item-black {
    position: relative;
  }

  .site-list__item-black-catalog {
    position: relative;
    padding-right: 5px;
  }

  .site-list__item--active::after {
    content: "";
    position: absolute;
    top: 32px;
    left: 1px;
    width: 62px;
    height: 2px;
    background-color: @green;
  }

  .site-list__item-black-catalog--active-catalog::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 1px;
    width: 152px;
    height: 2px;
    background-color: @green;
  }

  .site-list__item-black--active-form::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 1px;
    width: 153px;
    height: 2px;
    background-color: @green;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 483px;
    height: 40px;
    margin-left: 127px;
    margin-top: 61px;
    margin-right: 110px;
  }

  .site-list__item a {
    font-size: 20px;
    line-height: 30px;
    color: white;
  }

  .site-list__item-black a {
    font-size: 20px;
    line-height: 30px;
    color: @black;
  }

  .site-list__item-black-catalog a {
    font-size: 20px;
    line-height: 30px;
    color: @black;
  }

  .site-list__item {
    display: block;
    height: 35px;
  }

  .site-list__item-black {
    position: relative;
  }

  .site-list__item-black-catalog {
    position: relative;
    padding-right: 1px;
  }

  .site-list__item--active::after {
    content: "";
    position: absolute;
    top: 36px;
    left: 1px;
    width: 69px;
    height: 2px;
    background-color: @white;
  }

  .site-list__item-black-catalog--active-catalog::after {
    content: "";
    top: 36px;
    height: 2px;
    width: 170px;
    background-color: @green;
  }

  .site-list__item-black--active-form::after {
    content: "";
    top: 36px;
    height: 2px;
    width: 171px;
    background-color: @green;
  }
}
