.slimming-wg__card {
  position: relative;
  width: 280px;
  height: 266px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.slimming-wg__title {
  margin: 0;
  padding-left: 91px;
  padding-top: 29px;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

.slimming-wg__card--panter-picture::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 29px;
  width: 36px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-cat-slim.svg");
}

.slimming-wg__card--panter-picture::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @green;
}

.slimming-wg__card--tiger-picture::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 12px;
  width: 67px;
  height: 33px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-cat-pro.svg");
}

.slimming-wg__card--tiger-picture::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
}

.slimming-wg__text-question1 {
  position: relative;
  width: 240px;
  height: 113px;
  margin-top: 29px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 2px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
}

.slimming-wg__text-question1--line::after {
  content: "";
  position: absolute;
  top: 113px;
  left: -1px;
  width: 240px;
  height: 1px;
  background-color: #d9d9d9;
}

.slimming-wg__text-question2 {
  position: relative;
  width: 240px;
  height: 113px;
  margin-top: 29px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 2px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
}

.slimming-wg__text-question2--line::after {
  content: "";
  position: absolute;
  top: 113px;
  left: -1px;
  width: 240px;
  height: 1px;
  background-color: #d9d9d9;
}

.slimming-wg__link {
  position: relative;
  margin-left: 19px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.slimming-wg__link:active,
.slimming-wg__link:focus {
  opacity: 0.3;
}

.slimming-wg__link--arrow::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 100px;
  width: 24px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-right-arrow-long.svg");
}

.slimming-wg__link--arrow:hover::after {
  width: 30px;
  height: 18px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
}

.slimming-wg__link--arrow:active::after,
.slimming-wg__link--arrow:focus::after {
  width: 30px;
  height: 18px;
  opacity: 0.3;
  background-image: url("../img/icon-right-arrow-verylong.svg");
}

@media (min-width: @tablet-width) {
  .slimming-wg {
    margin: 0;
    padding: 0;
  }

  .slimming-wg__card {
    width: 708px;
    min-height: 372px;
    margin: 0;
    margin-left: 30px;
    padding-top: 70px;
    padding-left: 50px;
    margin-bottom: 30px;
  }

  .slimming-wg__title {
    padding: 0;
    margin-top: 7px;
    margin-left: 2px;
    font-size: 36px;
    line-height: 36px;
  }

  .slimming-wg__text-question1 {
    width: 375px;
    height: 100px;
    margin-top: 22px;
    margin-left: 1px;
    margin-right: 20px;
    margin-bottom: 49px;
    font-size: 16px;
    line-height: 24px;
    color: @black;
  }

  .slimming-wg__text-question1--line::after {
    display: none;
  }

  .slimming-wg__text-question2 {
    width: 340px;
    height: 100px;
    margin-top: 22px;
    margin-left: 1px;
    margin-right: 20px;
    margin-bottom: 49px;
    font-size: 16px;
    line-height: 24px;
    color: @black;
  }

  .slimming-wg__text-question2--line::after {
    display: none;
  }

  .slimming-wg__link {
    margin-left: 2px;
    font-size: 20px;
    line-height: 30px;
  }

  .slimming-wg__link--arrow::after {
    top: 12px;
    left: 133px;
  }

  .slimming-wg__card--tiger-picture::before {
    top: 92px;
    left: 446px;
    width: 200px;
    height: 200px;
  }

  .slimming-wg__card--tiger-picture::after {
    top: 135px;
    left: 412px;
    width: 268px;
    height: 113px;
  }

  .slimming-wg__card--panter-picture::after {
    top: 81px;
    left: 476px;
    width: 140px;
    height: 192px;
  }

  .slimming-wg__card--panter-picture::before {
    content: "";
    position: absolute;
    top: 92px;
    left: 446px;
    width: 200px;
    height: 200px;
  }
}

@media (min-width: @desktop-width) {
  .slimming-wg {
    display: grid;
    margin-left: 110px;
    padding: 0;
    gap: 80px;
    grid-template-columns: 571px 571px;
  }

  .slimming-wg__card {
    width: 570px;
    min-height: 374px;
    margin: 0;
    padding: 0;
  }

  .slimming-wg__title {
    margin-top: 77px;
    margin-left: 215px;
    font-size: 36px;
    line-height: 36px;
  }

  .slimming-wg__text-question1 {
    width: 470px;
    height: 80px;
    margin-top: 73px;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 19px;
  }

  .slimming-wg__text-question2 {
    width: 470px;
    height: 80px;
    margin-top: 73px;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 19px;
  }

  .slimming-wg__link {
    position: relative;
    margin-left: 50px;
    font-size: 20px;
    line-height: 30px;
  }

  .slimming-wg__link--arrow::after {
    top: 12px;
    left: 134px;
  }

  .slimming-wg__card--panter-picture::after {
    top: 41px;
    left: 67px;
    width: 70px;
    height: 97px;
  }

  .slimming-wg__card--panter-picture::before {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }

  .slimming-wg__card--tiger-picture::after {
    top: 67px;
    left: 33px;
    width: 134px;
    height: 56px;
  }

  .slimming-wg__card--tiger-picture::before {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }
}
