.social {
  position: relative;
}

.social__list{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social__item {
  position: relative;
  margin-left: 55px;
}

.social__link--vkontakte::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 1px;
  width: 22.15px;
  height: 12.36px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-vk.svg");
}

.social__link--instagram::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 1px;
  width: 22.15px;
  height: 12.36px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-insta.svg");
}

.social__link--facebook::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 1px;
  width: 22.15px;
  height: 12.36px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-fb.svg");
}

.social__list--line::before {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 240px;
  height: 10px;
  background-color: #000000;
}

.social__list--line::after {
  position: absolute;
  top: 50px;
  left: 1px;
  width: 240px;
  height: 10px;
  background-color: #000000;
}
