.work__title {
  display: inline-block;
  width: 300px;
  height: 54px;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-left: 1px;

  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.work__wrap {
  width: 60px;
  height: 60px;

  background-color: #68b738;
}

.work__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.work__card {
  display: flex;
  flex-direction: row;
}

.work__text {
  display: inline-block;
  width: 180px;
  height: 54px;
  margin-top: 1px;
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  color: #444444;
}
