.work__title {
  width: 300px;
  height: 54px;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-left: 1px;

  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.work__wrap {
  width: 60px;
  height: 60px;

  background-color: #68b738;
}

.work__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.work__card {
  display: flex;
  flex-direction: row;
}

.work__text {
  width: 180px;
  height: 54px;
  margin-top: 1px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  color: #444444;
}

@media (min-width: @tablet-width) {
  .work__title {
    width: 460px;
    height: auto;
    margin: 0;
    padding: 0;
    padding-top: 17px;
    margin-bottom: 71px;
    font-size: 60px;
    line-height: 60px;
  }

  .work__list {
    display: grid;
    gap: 30px;
    grid-template-columns: 354px 354px;
    grid-template-rows: 288px 289px;
    margin-left: 30px;
  }

  .work__card {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
  }

  .work__text {
    position: absolute;
    z-index: 2;
    width: 205px;
    height: 75px;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .work__card--number1::after {
    content: "1";
    position: absolute;
    top: -60px;
    left: 118px;

    width: 120px;
    height: 290px;

    font-size: 280px;

    color: #f2f2f2;
  }

  .work__card--number2::after {
    content: "2";
    position: absolute;
    top: -60px;
    left: 110px;

    width: 120px;
    height: 290px;

    font-size: 280px;

    color: #f2f2f2;
  }

  .work__card--number3::after {
    content: "3";
    position: absolute;
    top: -60px;
    left: 112px;

    width: 120px;
    height: 290px;

    font-size: 280px;

    color: #f2f2f2;
  }

  .work__card--number4::after {
    content: "4";
    position: absolute;
    top: -60px;
    left: 112px;

    width: 120px;
    height: 290px;

    font-size: 280px;

    color: #f2f2f2;
  }
}

@media (min-width: @desktop-width) {
  .work {
    padding-left: 80px;
    padding-top: 50px;
  }

  .work__title {
    width: 490px;
    height: auto;
    margin: 0;
    padding: 0;
    padding-top: 17px;
    padding-left: 30px;
    margin-bottom: 71px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .work__list {
    display: grid;
    gap: 80px;
    grid-template-columns: 246px 245px 245px 245px;
    grid-template-rows: 288px;
    outline: 1px solid green;
  }
}
